$primary-font-color:rgb(255, 255, 255);
$primary-background-color:rgb(5, 169, 220);
$secondary-background-color:rgba(59, 2, 31, 0.75);

@import "compass/reset";
@import "compass/css3";
@import "compass/utilities";
@import "compass/typography/";

@import "bottles/*.png";
@include all-bottles-sprites;