/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'base';

html {
overflow-y:scroll;
width:100%;
}

body {
background:$primary-background-color url(../images/background-repeat.png) repeat 0 0;
background:
/*url(../images/background-robots.png) repeat-y 0 0,*/
url(../images/background-type.png) repeat-x 0 0,
url(../images/background-tinie.png) repeat-x 0 0,
url(../images/background-yasmin.png) repeat 0 0,
url(../images/background-repeat.png) repeat 0 0,
$primary-background-color;
color:$primary-font-color;
font:normal 62.5%/1.5em 'Quicksand', Gil Sans, arial, helvetica, sans-serif;
text-align:center;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }
blockquote { font-size: 1.2em; }
p, li { font-size: 1.2em; }
input { font-size: 1.2em; }
small, li p { font-size: 1em; }
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

h1, h2, h3, h4, h5, h6, blockquote, p, input, small, li { line-height: 1.5em; }

a {
	@include link-colors(silver, gold, yellow, gray, teal);
}

p {
	margin-bottom:1.25em;
	a {
		@include link-colors(yellow, turqoise, purple, orange, pink);
	}
}

.left {
display:inline;
float:left;
}

.right {
display:inline;
float:right;
}


/* Scalable media */
img,
embed,
object,
video {
max-width:100%;
}

.pie-clearfix {
@include legacy-pie-clearfix;
}

#mainContainer {
margin:36px auto;
text-align:left;
width:90%;
}

#mainContainerInner {
margin:0 auto;
padding:2% 0;
width:93.75%;
}

#mainHeader {
	h1 {
		font-size:2.4em;
		line-height:1.25em;
		text-transform:uppercase;
		
		a {
			font-weight:bold;
		}
	}
}

#mainContent {

}

.projects {
	@extend .pie-clearfix;
	background:$secondary-background-color;
	margin-bottom:2em;
	
	header {
		margin-bottom:1.5em;
	}
	h1 {
		font-size:2em;
	}
	
	h2 {
		font-size:1.6em;
	}
	
	li {
		position:relative;
		width:48.889%;
	}
}

.number {
background:$tertiary-background-color;
display:block;
float:right;
font-size:3em;
margin:-7% -3% 0 0;
padding:2% 0;
text-align:center;
width:8%;
@include border-radius(4px, 4px);
}

.content-container section > header {
background:$primary-background-color;
color:$primary-font-color;
font-size:1.5em;
padding:0.8em 2.2222%; /* 20px / 900px */
text-transform:uppercase;
}

.content-container {
	@extend .pie-clearfix;
	background:$content-block-background-color;
	color:$secondary-font-color;
}

.content-primary {
@extend .left;
width:62.8888889%; /* 566px / 900px */
}

.content-primary > article {
@extend .pie-clearfix;
margin:0 auto;
padding:2em 0;
width:83.038869%; /* 470px / 566px */
}

.content-secondary {
@extend .right;
width:36.7777778%; /* 331px / 900px */
}

.content-secondary > article {
margin:0 auto;
padding:2em 0;
width:69.7885196% /* 231px / 331px  */
}

.figure {
float:right;
margin-bottom:0.5em;
margin-left:2.55532%; /* 12px / 470px */
width:48.7341772%; /* 231px / 470px */
}