/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import 'base';

html {
overflow-y:scroll;
width:100%;
}

body {
background:#f5f5dc url(../images/noise-background.gif) repeat 0 0;
background:
/*
url(../images/background-robots.png) repeat-y 0 0,
url(../images/background-type.png) repeat-x 0 0,
url(../images/background-tinie.png) repeat-x 0 0,
url(../images/background-yasmin.png) repeat 0 0,
url(../images/background-repeat.png) repeat 0 0,
*/
url(../images/noise-background.gif) repeat 0 0,
#f5f5dc;
color:$primary-font-color;
font:normal 62.5%/1.5em 'Quicksand', Gil Sans, arial, helvetica, sans-serif;
text-align:center;
}

h1 { font-size: 2.4em; }
h2 { font-size: 2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }
blockquote { font-size: 1.2em; }
p, li { font-size: 1.2em; }
input { font-size: 1.2em; }
small, li p { font-size: 1em; }
h1, h2, h3, h4, h5, h6 {
font-weight: normal;
}

h1, h2, h3, h4, h5, h6, blockquote, p, input, small, li { line-height: 1.5em; }

a {
	@include link-colors(purple, maroon, yellow, gold, orange);
}

p {
	margin-bottom:1.25em;
	a {
		@include link-colors(purple, turqoise, yellow, orange, pink);
	}
}

p:last-child {
margin-bottom:0;
}

.left {
display:inline;
float:left;
}

.right {
display:inline;
float:right;
}

/* Scalable media */
img,
embed,
object,
video {
max-width:100%;
}

.group {
@include clearfix;
}

.group-overflow {
@include legacy-pie-clearfix;
}

#mainContainer {
margin:36px auto;
text-align:left;
width:90%;
}

#mainContainerInner {
margin:0 auto;
padding:2% 0;
width:93.75%;
}

#mainHeader {
	background:$content-block-background-color;
	margin-bottom:2em;
	
	.logo {
		@extend .left;
		@include box-shadow(
		$main-box-shadow-color -1px -1px 0,
		$main-box-shadow-color -2px -2px 0,
		$main-box-shadow-color -3px -3px 0,
		$main-box-shadow-color -4px -4px 0,
		$main-box-shadow-color -5px -5px 0,
		$main-box-shadow-color -6px -6px 0,
		$main-box-shadow-color -7px -7px 0,
		$main-box-shadow-color -8px -8px 0,
		$main-box-shadow-color -9px -9px 0,
		$main-box-shadow-color -10px -10px 0);
		@include opacity(0.75);
		background:rgb(204, 204, 204);
		text-align:center;
		width:36.45833%; /* 350px / 960px */
	}
	
	#primaryNav {
		@extend .left;
		@include box-shadow(
		$main-box-shadow-color 1px -1px 0,
		$main-box-shadow-color 2px -2px 0,
		$main-box-shadow-color 3px -3px 0,
		$main-box-shadow-color 4px -4px 0,
		$main-box-shadow-color 5px -5px 0,
		$main-box-shadow-color 6px -6px 0,
		$main-box-shadow-color 7px -7px 0,
		$main-box-shadow-color 8px -8px 0,
		$main-box-shadow-color 9px -9px 0,
		$main-box-shadow-color 10px -10px 0);
		@include opacity(0.85);
		background:$primary-background-color;
		margin-top:40px;
		width:63.5416667%;
		
		li {
			@extend .left;
			padding:1em;
			a {
				font-size:1.4em;
				font-weight:bold;
				text-decoration:none;
				text-transform:uppercase;
			}
		}
	}
	
	@media screen and (max-width: 768px) {
		.logo {
			display:block;
			float:none;
			margin:0 0 20px 0;
			position:relative;
		}
		
		#primaryNav {
			display:block;
			float:none;
			margin:0 0 20px 0;
			overflow:hidden;
			text-align:center;
			width:100%;
			
			li {
				@include inline-block;
				float:none;
			}
		}
	}
	
	@media screen and (max-width: 520px) {
		#primaryNav {
			li {
				clear:left;
				float:left;
				width:40%;
			}
			
			li#navBlog,
			li#navContactUs {
				clear:right;
				float:right;
			}
		}
	}
	
	hgroup {
		background:rgba(0, 0, 0, 0.85);
		color:$secondary-font-color;
		font-family:georgia, "lucida Grande", "Times New Roman", serif;
		margin-bottom:2em;
		padding:3em;
		text-align:center;
	}
	
	h1 {
		font-size:4em;
		font-weight:900;
		line-height:1.25em;
		text-transform:uppercase;
	}
	
	h2 {
		font-size:2em;
	}
	
	@media screen and (max-width: 768px) {
		h1 {
			font-size:3em;
		}
		
		h2 {
			font-size:1.5em;
		}
	}
}

#mainSlider {
	background:$content-block-background-color;
	margin-bottom:2em;
}

.hero-slider {
		clear:both;
	}
	
.slides {
	.hero b {
		display:block;
		overflow:hidden;
		margin-bottom:0;
		
		img {
			display:block;
			margin:0 auto;
			max-width:inherit;
		}
	}
	
	@media screen and (max-width: 768px) {
		.hero b {
			width:auto;
			
			img {
				max-width:100%;
			}
		}
	}
	
	.hero .caption {
		font-size:1.1em;
		text-align:center;
	}
}

@media screen and (min-width: 1200px) {
	#mainSlider,
	#mainContent {
		width:49.375%;
	}
	
	#mainSlider {
		float:right;
	}
	
	#mainContent {
		float:left;
	}
}

#mainContent {
	background:$content-block-background-color;
	margin-bottom:2em;
}

#mainContent > header {
	margin-bottom:2em;
}

.projects {
	@extend .group-overflow;
	background:content-block-background-color;
	margin:0 auto 2em auto;
	width:91.6667%;
	
	header {
		margin-bottom:1.5em;
	}
	h1 {
		font-size:2em;
	}
	
	h2 {
		font-size:1.6em;
	}
	
	li {
		position:relative;
		width:47.7272727%;
	}
	
	@media screen and (max-width: 768px) {
		li {
			float:none;
			margin:0 0 30px 0;
			width:auto;
		}
	}
}

.number {
background:$tertiary-background-color;
display:block;
float:right;
font-size:1.5em;
font-weight:bold;
margin:-7% -3% 0 0;
padding:2% 0;
text-align:center;
width:8%;
@include border-radius(4px, 4px);
}

.content-container {
	@extend .group-overflow;
	background:$content-block-background-color url(../images/noise-gray-900.gif) repeat-y 63.111111% 0;
	color:$secondary-font-color;
}

.content-container section > header {
background:$primary-background-color;
color:$secondary-font-color;
font-size:1.5em;
padding:0.8em 2.2222%; /* 20px / 900px */
text-transform:uppercase;
}

.content-primary {
@extend .left;
color:$primary-font-color;
width:62.8888889%; /* 566px / 900px */
}

.content-primary > article {
@extend .group-overflow;
margin:0 auto;
padding:2em 0;
width:83.038869%; /* 470px / 566px */
}

.content-secondary {
@extend .right;
color:$primary-font-color;
width:36.7777778%; /* 331px / 900px */
}

.content-secondary > article {
margin:0 auto;
padding:2em 0;
width:69.7885196% /* 231px / 331px  */
}

.figure {
float:right;
margin-bottom:0.5em;
margin-left:2.55532%; /* 12px / 470px */
width:48.7341772%; /* 231px / 470px */
}

@media screen and (max-width: 768px) {
	#mainContainer {
		margin:10px;
		width:auto;
	}

	.content-primary,
	.content-primary > article,
	.content-secondary,
	.content-secondary > article,
	.figure {
		float:none;
		margin:0 0 30px 0;
		width:auto;
	}
	
	.content-container {
		background-image:none;
	}
}

/* General Classes */
.film {
/* @include background-image(linear-gradient(white, #aaaaaa)); */
border-bottom:2px solid black;
margin-bottom:5em;
padding-bottom:3em;
}

.film-title {
margin-bottom:2em;
font-weight:bold;
text-transform:uppercase;
}

.caption {
color:black;
text-transform:uppercase;
}

.stars {
color:red;
display:block;
font-weight:bold;
text-transform:uppercase;
}

.reviewer {
display:block;
font-style:italic;
margin-bottom:2em;
}



/* IE6 fixes */
.ie6 img,
.ie6 embed,
.ie6 object,
.ie6 video {
width:100%;
}

/* IE7 fixes */
.ie7 {

}