/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 63, bottles */
.bottles-sprite, .bottles-largebottleCalvin, .bottles-largebottleKelis, .bottles-largebottlePlanB, .bottles-largebottleTinie, .bottles-largebottleWhiteLies, .bottles-largebottleWretch, .bottles-largebottleYasmin {
  background: url('/images/bottles-s2c5fded601.png') no-repeat;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleCalvin {
  background-position: 0 0;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleKelis {
  background-position: 0 -376px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottlePlanB {
  background-position: 0 -752px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleTinie {
  background-position: 0 -1128px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleWhiteLies {
  background-position: 0 -1504px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleWretch {
  background-position: 0 -1880px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleYasmin {
  background-position: 0 -2256px;
}

/* line 8, ../sass/screen.scss */
html {
  overflow-y: scroll;
  width: 100%;
}

/* line 13, ../sass/screen.scss */
body {
  background: #05a9dc;
  color: white;
  font: normal 62.5%/1.5em "Quicksand", Gil Sans, arial, helvetica, sans-serif;
  text-align: center;
}

/* line 20, ../sass/screen.scss */
h1 {
  font-size: 2.4em;
}

/* line 21, ../sass/screen.scss */
h2 {
  font-size: 2em;
}

/* line 22, ../sass/screen.scss */
h3 {
  font-size: 1.8em;
}

/* line 23, ../sass/screen.scss */
h4 {
  font-size: 1.6em;
}

/* line 24, ../sass/screen.scss */
h5 {
  font-size: 1.4em;
}

/* line 25, ../sass/screen.scss */
h6 {
  font-size: 1.2em;
}

/* line 26, ../sass/screen.scss */
blockquote {
  font-size: 1.2em;
}

/* line 27, ../sass/screen.scss */
p, li {
  font-size: 1.2em;
}

/* line 28, ../sass/screen.scss */
input {
  font-size: 1.2em;
}

/* line 29, ../sass/screen.scss */
small, li p {
  font-size: 1em;
}

/* line 30, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 34, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, blockquote, p, input, small, li {
  line-height: 1.5em;
}

/* line 36, ../sass/screen.scss */
a {
  color: silver;
}
/* line 18, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: gray;
}
/* line 21, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: teal;
}
/* line 24, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: gold;
}
/* line 27, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: yellow;
}

/* line 40, ../sass/screen.scss */
p {
  margin-bottom: 1.25em;
}
/* line 42, ../sass/screen.scss */
p a {
  color: yellow;
}
/* line 18, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:visited {
  color: orange;
}
/* line 21, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:focus {
  color: pink;
}
/* line 24, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:hover {
  color: turqoise;
}
/* line 27, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:active {
  color: purple;
}

/* line 47, ../sass/screen.scss */
.left {
  display: inline;
  float: left;
}

/* line 52, ../sass/screen.scss */
.left {
  display: inline;
  float: right;
}

/* line 57, ../sass/screen.scss */
#mainContainer {
  background: rgba(59, 2, 31, 0.75);
  margin: 36px auto;
  text-align: left;
  width: 90%;
}

/* line 64, ../sass/screen.scss */
#mainContainerInner {
  margin: 0 auto;
  padding: 50px 0;
  width: 93.75%;
}

/* line 71, ../sass/screen.scss */
#mainHeader h1 {
  font-size: 2.4em;
  line-height: 1.25em;
  text-transform: uppercase;
}
/* line 76, ../sass/screen.scss */
#mainHeader h1 a {
  font-weight: bold;
}

/* line 86, ../sass/screen.scss */
.projects {
  overflow: hidden;
  *zoom: 1;
}
/* line 88, ../sass/screen.scss */
.projects h1 {
  font-size: 2em;
}
/* line 92, ../sass/screen.scss */
.projects h2 {
  font-size: 1.6em;
}
/* line 96, ../sass/screen.scss */
.projects li {
  overflow: hidden;
  width: 48.889%;
}
