/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* line 20, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
body {
  line-height: 1;
}

/* line 22, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 24, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 26, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 28, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 101, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 30, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 114, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/* line 63, bottles */
.bottles-sprite, .bottles-largebottleCalvin, .bottles-largebottleKelis, .bottles-largebottlePlanB, .bottles-largebottleTinie, .bottles-largebottleWhiteLies, .bottles-largebottleWretch, .bottles-largebottleYasmin {
  background: url('/images/bottles-s2c5fded601.png') no-repeat;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleCalvin {
  background-position: 0 0;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleKelis {
  background-position: 0 -376px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottlePlanB {
  background-position: 0 -752px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleTinie {
  background-position: 0 -1128px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleWhiteLies {
  background-position: 0 -1504px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleWretch {
  background-position: 0 -1880px;
}

/* line 60, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/sprites/_base.scss */
.bottles-largebottleYasmin {
  background-position: 0 -2256px;
}

/* line 8, ../sass/screen.scss */
html {
  overflow-y: scroll;
  width: 100%;
}

/* line 13, ../sass/screen.scss */
body {
  background: #f5f5dc url(../images/noise-background.gif) repeat 0 0;
  background: url(../images/noise-background.gif) repeat 0 0, #f5f5dc;
  color: black;
  font: normal 62.5%/1.5em "Quicksand", Gil Sans, arial, helvetica, sans-serif;
  text-align: center;
}

/* line 30, ../sass/screen.scss */
h1 {
  font-size: 2.4em;
}

/* line 31, ../sass/screen.scss */
h2 {
  font-size: 2em;
}

/* line 32, ../sass/screen.scss */
h3 {
  font-size: 1.8em;
}

/* line 33, ../sass/screen.scss */
h4 {
  font-size: 1.6em;
}

/* line 34, ../sass/screen.scss */
h5 {
  font-size: 1.4em;
}

/* line 35, ../sass/screen.scss */
h6 {
  font-size: 1.2em;
}

/* line 36, ../sass/screen.scss */
blockquote {
  font-size: 1.2em;
}

/* line 37, ../sass/screen.scss */
p, li {
  font-size: 1.2em;
}

/* line 38, ../sass/screen.scss */
input {
  font-size: 1.2em;
}

/* line 39, ../sass/screen.scss */
small, li p {
  font-size: 1em;
}

/* line 40, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

/* line 44, ../sass/screen.scss */
h1, h2, h3, h4, h5, h6, blockquote, p, input, small, li {
  line-height: 1.5em;
}

/* line 46, ../sass/screen.scss */
a {
  color: purple;
}
/* line 18, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:visited {
  color: gold;
}
/* line 21, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:focus {
  color: orange;
}
/* line 24, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:hover {
  color: maroon;
}
/* line 27, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
a:active {
  color: yellow;
}

/* line 50, ../sass/screen.scss */
p {
  margin-bottom: 1.25em;
}
/* line 52, ../sass/screen.scss */
p a {
  color: purple;
}
/* line 18, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:visited {
  color: orange;
}
/* line 21, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:focus {
  color: pink;
}
/* line 24, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:hover {
  color: turqoise;
}
/* line 27, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/typography/links/_link-colors.scss */
p a:active {
  color: yellow;
}

/* line 57, ../sass/screen.scss */
p:last-child {
  margin-bottom: 0;
}

/* line 61, ../sass/screen.scss */
.left, #mainHeader .logo, #mainHeader #primaryNav, #mainHeader #primaryNav li, .content-primary {
  display: inline;
  float: left;
}

/* line 66, ../sass/screen.scss */
.right, .content-secondary {
  display: inline;
  float: right;
}

/* Scalable media */
/* line 75, ../sass/screen.scss */
img,
embed,
object,
video {
  max-width: 100%;
}

/* line 79, ../sass/screen.scss */
.group {
  overflow: hidden;
  *zoom: 1;
}

/* line 83, ../sass/screen.scss */
.group-overflow, .projects, .content-container, .content-primary > article {
  *zoom: 1;
}
/* line 22, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/utilities/general/_clearfix.scss */
.group-overflow:after, .projects:after, .content-container:after, .content-primary > article:after {
  content: "\0020";
  display: block;
  height: 0;
  clear: both;
  overflow: hidden;
  visibility: hidden;
}

/* line 87, ../sass/screen.scss */
#mainContainer {
  margin: 36px auto;
  text-align: left;
  width: 90%;
}

/* line 93, ../sass/screen.scss */
#mainContainerInner {
  margin: 0 auto;
  padding: 2% 0;
  width: 93.75%;
}

/* line 99, ../sass/screen.scss */
#mainHeader {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 2em;
}
/* line 103, ../sass/screen.scss */
#mainHeader .logo {
  -moz-box-shadow: #dd070c -1px -1px 0, #dd070c -2px -2px 0, #dd070c -3px -3px 0, #dd070c -4px -4px 0, #dd070c -5px -5px 0, #dd070c -6px -6px 0, #dd070c -7px -7px 0, #dd070c -8px -8px 0, #dd070c -9px -9px 0, #dd070c -10px -10px 0;
  -webkit-box-shadow: #dd070c -1px -1px 0, #dd070c -2px -2px 0, #dd070c -3px -3px 0, #dd070c -4px -4px 0, #dd070c -5px -5px 0, #dd070c -6px -6px 0, #dd070c -7px -7px 0, #dd070c -8px -8px 0, #dd070c -9px -9px 0, #dd070c -10px -10px 0;
  -o-box-shadow: #dd070c -1px -1px 0, #dd070c -2px -2px 0, #dd070c -3px -3px 0, #dd070c -4px -4px 0, #dd070c -5px -5px 0, #dd070c -6px -6px 0, #dd070c -7px -7px 0, #dd070c -8px -8px 0, #dd070c -9px -9px 0, #dd070c -10px -10px 0;
  box-shadow: #dd070c -1px -1px 0, #dd070c -2px -2px 0, #dd070c -3px -3px 0, #dd070c -4px -4px 0, #dd070c -5px -5px 0, #dd070c -6px -6px 0, #dd070c -7px -7px 0, #dd070c -8px -8px 0, #dd070c -9px -9px 0, #dd070c -10px -10px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=75);
  opacity: 0.75;
  background: #cccccc;
  text-align: center;
  width: 36.45833%;
  /* 350px / 960px */
}
/* line 122, ../sass/screen.scss */
#mainHeader #primaryNav {
  -moz-box-shadow: #dd070c 1px -1px 0, #dd070c 2px -2px 0, #dd070c 3px -3px 0, #dd070c 4px -4px 0, #dd070c 5px -5px 0, #dd070c 6px -6px 0, #dd070c 7px -7px 0, #dd070c 8px -8px 0, #dd070c 9px -9px 0, #dd070c 10px -10px 0;
  -webkit-box-shadow: #dd070c 1px -1px 0, #dd070c 2px -2px 0, #dd070c 3px -3px 0, #dd070c 4px -4px 0, #dd070c 5px -5px 0, #dd070c 6px -6px 0, #dd070c 7px -7px 0, #dd070c 8px -8px 0, #dd070c 9px -9px 0, #dd070c 10px -10px 0;
  -o-box-shadow: #dd070c 1px -1px 0, #dd070c 2px -2px 0, #dd070c 3px -3px 0, #dd070c 4px -4px 0, #dd070c 5px -5px 0, #dd070c 6px -6px 0, #dd070c 7px -7px 0, #dd070c 8px -8px 0, #dd070c 9px -9px 0, #dd070c 10px -10px 0;
  box-shadow: #dd070c 1px -1px 0, #dd070c 2px -2px 0, #dd070c 3px -3px 0, #dd070c 4px -4px 0, #dd070c 5px -5px 0, #dd070c 6px -6px 0, #dd070c 7px -7px 0, #dd070c 8px -8px 0, #dd070c 9px -9px 0, #dd070c 10px -10px 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=85);
  opacity: 0.85;
  background: black;
  margin-top: 40px;
  width: 63.5416667%;
}
/* line 140, ../sass/screen.scss */
#mainHeader #primaryNav li {
  padding: 1em;
}
/* line 143, ../sass/screen.scss */
#mainHeader #primaryNav li a {
  font-size: 1.4em;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}
@media screen and (max-width: 768px) {
  /* line 153, ../sass/screen.scss */
  #mainHeader .logo {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    position: relative;
  }
  /* line 160, ../sass/screen.scss */
  #mainHeader #primaryNav {
    display: block;
    float: none;
    margin: 0 0 20px 0;
    overflow: hidden;
    text-align: center;
    width: 100%;
  }
  /* line 168, ../sass/screen.scss */
  #mainHeader #primaryNav li {
    display: -moz-inline-box;
    -moz-box-orient: vertical;
    display: inline-block;
    vertical-align: middle;
    *vertical-align: auto;
    float: none;
  }
  /* line 7, ../../../../Ruby192/lib/ruby/gems/1.9.1/gems/compass-0.11.5/frameworks/compass/stylesheets/compass/css3/_inline-block.scss */
  #mainHeader #primaryNav li {
    *display: inline;
  }
}
@media screen and (max-width: 520px) {
  /* line 177, ../sass/screen.scss */
  #mainHeader #primaryNav li {
    clear: left;
    float: left;
    width: 40%;
  }
  /* line 184, ../sass/screen.scss */
  #mainHeader #primaryNav li#navBlog,
  #mainHeader #primaryNav li#navContactUs {
    clear: right;
    float: right;
  }
}
/* line 191, ../sass/screen.scss */
#mainHeader hgroup {
  background: rgba(0, 0, 0, 0.85);
  color: white;
  font-family: georgia, "lucida Grande", "Times New Roman", serif;
  margin-bottom: 2em;
  padding: 3em;
  text-align: center;
}
/* line 200, ../sass/screen.scss */
#mainHeader h1 {
  font-size: 4em;
  font-weight: 900;
  line-height: 1.25em;
  text-transform: uppercase;
}
/* line 207, ../sass/screen.scss */
#mainHeader h2 {
  font-size: 2em;
}
@media screen and (max-width: 768px) {
  /* line 212, ../sass/screen.scss */
  #mainHeader h1 {
    font-size: 3em;
  }
  /* line 216, ../sass/screen.scss */
  #mainHeader h2 {
    font-size: 1.5em;
  }
}

/* line 222, ../sass/screen.scss */
#mainSlider {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 2em;
}

/* line 227, ../sass/screen.scss */
.hero-slider {
  clear: both;
}

/* line 232, ../sass/screen.scss */
.slides .hero b {
  display: block;
  overflow: hidden;
  margin-bottom: 0;
}
/* line 237, ../sass/screen.scss */
.slides .hero b img {
  display: block;
  margin: 0 auto;
  max-width: inherit;
}
@media screen and (max-width: 768px) {
  /* line 245, ../sass/screen.scss */
  .slides .hero b {
    width: auto;
  }
  /* line 248, ../sass/screen.scss */
  .slides .hero b img {
    max-width: 100%;
  }
}
/* line 254, ../sass/screen.scss */
.slides .hero .caption {
  font-size: 1.1em;
  text-align: center;
}

@media screen and (min-width: 1200px) {
  /* line 262, ../sass/screen.scss */
  #mainSlider,
  #mainContent {
    width: 49.375%;
  }

  /* line 266, ../sass/screen.scss */
  #mainSlider {
    float: right;
  }

  /* line 270, ../sass/screen.scss */
  #mainContent {
    float: left;
  }
}
/* line 275, ../sass/screen.scss */
#mainContent {
  background: rgba(255, 255, 255, 0.5);
  margin-bottom: 2em;
}

/* line 280, ../sass/screen.scss */
#mainContent > header {
  margin-bottom: 2em;
}

/* line 284, ../sass/screen.scss */
.projects {
  background: content-block-background-color;
  margin: 0 auto 2em auto;
  width: 91.6667%;
}
/* line 290, ../sass/screen.scss */
.projects header {
  margin-bottom: 1.5em;
}
/* line 293, ../sass/screen.scss */
.projects h1 {
  font-size: 2em;
}
/* line 297, ../sass/screen.scss */
.projects h2 {
  font-size: 1.6em;
}
/* line 301, ../sass/screen.scss */
.projects li {
  position: relative;
  width: 47.7272727%;
}
@media screen and (max-width: 768px) {
  /* line 307, ../sass/screen.scss */
  .projects li {
    float: none;
    margin: 0 0 30px 0;
    width: auto;
  }
}

/* line 315, ../sass/screen.scss */
.number {
  background: rgba(5, 169, 220, 0.75);
  display: block;
  float: right;
  font-size: 1.5em;
  font-weight: bold;
  margin: -7% -3% 0 0;
  padding: 2% 0;
  text-align: center;
  width: 8%;
  -webkit-border-radius: 4px 4px;
  -moz-border-radius: 4px / 4px;
  -o-border-radius: 4px / 4px;
  -ms-border-radius: 4px / 4px;
  -khtml-border-radius: 4px / 4px;
  border-radius: 4px / 4px;
}

/* line 328, ../sass/screen.scss */
.content-container {
  background: rgba(255, 255, 255, 0.5) url(../images/noise-gray-900.gif) repeat-y 63.111% 0;
  color: white;
}

/* line 334, ../sass/screen.scss */
.content-container section > header {
  background: black;
  color: white;
  font-size: 1.5em;
  padding: 0.8em 2.2222%;
  /* 20px / 900px */
  text-transform: uppercase;
}

/* line 342, ../sass/screen.scss */
.content-primary {
  color: black;
  width: 62.8888889%;
  /* 566px / 900px */
}

/* line 348, ../sass/screen.scss */
.content-primary > article {
  margin: 0 auto;
  padding: 2em 0;
  width: 83.038869%;
  /* 470px / 566px */
}

/* line 355, ../sass/screen.scss */
.content-secondary {
  color: black;
  width: 36.7777778%;
  /* 331px / 900px */
}

/* line 361, ../sass/screen.scss */
.content-secondary > article {
  margin: 0 auto;
  padding: 2em 0;
  width: 69.789%;
}

/* line 367, ../sass/screen.scss */
.figure {
  float: right;
  margin-bottom: 0.5em;
  margin-left: 2.55532%;
  /* 12px / 470px */
  width: 48.7341772%;
  /* 231px / 470px */
}

@media screen and (max-width: 768px) {
  /* line 375, ../sass/screen.scss */
  #mainContainer {
    margin: 10px;
    width: auto;
  }

  /* line 384, ../sass/screen.scss */
  .content-primary,
  .content-primary > article,
  .content-secondary,
  .content-secondary > article,
  .figure {
    float: none;
    margin: 0 0 30px 0;
    width: auto;
  }

  /* line 390, ../sass/screen.scss */
  .content-container {
    background-image: none;
  }
}
/* General Classes */
/* line 396, ../sass/screen.scss */
.film {
  /* @include background-image(linear-gradient(white, #aaaaaa)); */
  border-bottom: 2px solid black;
  margin-bottom: 5em;
  padding-bottom: 3em;
}

/* line 403, ../sass/screen.scss */
.film-title {
  margin-bottom: 2em;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 409, ../sass/screen.scss */
.caption {
  color: black;
  text-transform: uppercase;
}

/* line 414, ../sass/screen.scss */
.stars {
  color: red;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
}

/* line 421, ../sass/screen.scss */
.reviewer {
  display: block;
  font-style: italic;
  margin-bottom: 2em;
}

/* IE6 fixes */
/* line 433, ../sass/screen.scss */
.ie6 img,
.ie6 embed,
.ie6 object,
.ie6 video {
  width: 100%;
}

/* IE7 fixes */
